<% title "Registrarse | SuperBlog en Rails" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

 <section class="hero is-light is-fullheight">
  <div class="container has-text-centered notification">
     <%= devise_error_messages! %>
  </div>   
          <div class="hero-body">

              <div class="container has-text-centered">
                  <div class="column is-4 is-offset-4">
                      <div class="box">
                          <figure class="avatar">
                              <img src="/login.png">
                          </figure>
                          <form>
                              <div class="field">
                                  <div class="control">
                                       <%= f.email_field :email, autocomplete: "email", class: "input is-medium", placeholder: "E-mail" %>
                                  </div>
                              </div>
                              <div class="field">
                                  <div class="control">
                                    <% if @minimum_password_length %>
                                    <% end %><br />
                                    <%= f.password_field :password, autocomplete: "new-password", class:"input is-medium", placeholder:  "Contraseña" %>
                                  </div>
                              </div>
                               <div class="field">
                                  <div class="control">
                                    <% if @minimum_password_length %>
                                    <i> mínimo <%= @minimum_password_length %> caracteres</i>
                                    <% end %><br />
                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input is-medium", placeholder: "Confirmar Contraseña" %>
                                  </div>
                              </div>                            
                              <div class="actions">
                                <%= f.submit "Registrarse", class:"button is-block is-info is-large is-fullwidth" %>
                              </div>
                          </form>
                      </div>
                      <p class="has-text-grey">
                          <%= render "devise/shared/links" %>
                      </p>
                  </div>
              </div>
          </div>
      </section>  
<% end %>