<% content_for :page_title, "Publicaciones" %>
<% @posts.each do |post| %>
<br>
<section class="container">
	<div class="hero is-small is-light">
		<div class="hero-body">	
			<div class="card container">
				<p id="title" class="card-content columns is-centered title is-4 ">
					<%= link_to post.title, post %>
				</p>
				<div class="is-centered">
					<figure id="image-hover" class="image is-3by1">
						<%= link_to post do %>
						<%= image_tag post.image.url(:medium) %>
						<% end %>
					<figure>
				</div>
				<div class="hero-body has-text-justified">
					<p><%= markdown(post.content.first(400)) %>..</p>			
				</div>
				<div class="button is-outlined is-warning is-medium level" id="title">
					<i class="level-item is-5" id="title">
					<b class="has-text-centered"><%= link_to 'Leer más', post %></b>
					<i>
				</div>	
			</div>				
		</div>
	</div>	
</section>
<% end %>
