<section>
	<div class="container is-centered">
		<figure class="image" id="image">
			<%= link_to @post do %>
				<%= image_tag @post.image.url(:medium) %>
			<% end %>
		<figure>
	</div>
</section>
<section class="section">
	<div class="container">
		<% if signed_in? && @post.user == current_user %>
			<nav class="level">
				<div class="level-left">
					<p class="level-item">
						<strong>Actions</strong>
					</p>
				</div>
				<div class="level-right">
					<p class="level-item">
						<%= link_to "Edit", edit_post_path(@post), class: "button" %>
					</p>
					<p class="level-item">
						<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "button is-danger" %>			
					</p>
				</div>
				<% end %>
			</nav>	
			<div class="box">
				<p class="is-uppercase is-size-2 has-text-centered"><%= @post.title %></p>
					<%= markdown(@post.content)%>
			</div>	
	</div>	
</section>
<div class="container">
	<nav class="pagination container is-rounded is-medium">
		<nav class="pagination-previous">
			<%= link_to("Anterior", @post.previous_post) if @post.previous_post %>
		</nav>
		<nav class="pagination-next">
			<%= link_to("Siguiente", @post.next_post)  if @post.next_post  %>
		</nav>
	</nav>
</div>


