<section>
	<div class="container is-centered">
		<figure class="image" id="image">
			<%= link_to @post do %>
			<%= image_tag @post.image.url(:medium) %>
			<% end %>
		<figure>
	</div>
</section>

<section class="section">
			<div class="container">
				<% if signed_in? && @post.user == current_user %>
				<nav class="level">
					<nav class="level-right">
						<p class="level-item">
							<%= link_to "Editar", edit_post_path(@post), class: "button is-primary is-outlined" %>
						</p>
						<p class="level-item">
							<%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "button is-danger is-outlined" %>			
						</p>
					</nav>
					<% end %>
				</nav>	
				<div class="card">
					<p class="is-uppercase is-size-2 has-text-centered"><%= @post.title %></p>
				</div>	
				<div class="box">
					<%= markdown(@post.content)%>
				</div>
			</div>
			<div class="container box">
				<nav class="pagination is-rounded is-medium">
					<%= link_to("Anterior", @post.previous_post, :class  => "pagination-previous button is-primary is-outlined") if @post.previous_post %>
					<%= link_to("Siguiente", @post.next_post, :class  => "pagination-next button is-info is-outlined")  if @post.next_post  %>
				</nav>
			</div>
</section>	



