<section>
	<div class="container is-centered">
		<figure class="image is-3by1">
			<%= link_to @post do %>
				<%= image_tag (@post.image.url :type => :upload, :width => 100, :height => 150, :crop => :fill) %>
			<% end %>
		<figure>
	</div>
</section>
<section class="section">
	<div class="container">
		<% if signed_in? && @post.user == current_user %>
			<nav class="level">
				<div class="level-left">
					<p class="level-item">
						<strong>Actions</strong>
					</p>
				</div>
				<div class="level-right">
					<p class="level-item">
						<%= link_to "Edit", edit_post_path(@post), class: "button" %>
					</p>
					<p class="level-item">
						<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "button is-danger" %>			
					</p>
				</div>
				<% end %>
			</nav>	
			<div class="content box">
				<p class="is-uppercase is-size-2 has-text-centered"><%= @post.title %></p>
					<%= markdown(@post.content)%>
				</div>	
			</div>	
</section>
