<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">	

  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="icon" type="image/png" sizes="16x16" href="favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
 	<div class="hero is-medium is-dark is-bold">
 	  <nav class="navbar">
 	    <div class="container">
 	      <div class="navbar-brand">
 	        <%= link_to 'Home Blog', posts_path, class: "navbar-item" %>
 	        <% if current_user %>
 	        <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "navbar-item" %>
 	        <% else %>
 	        <%= link_to 'Iniciar Sesión', new_user_session_path, class: "navbar-item" %>
 	        <% end %>
          <%= link_to "Crear", new_post_path, class:"navbar-item" %>
 	      </div> 	      
 	    </div>
 	  </nav>
 	</div>
  <header class="is-dark has-text-centered">
      <%= render 'shared/alerts' %>
    </header>
    <%= yield %>
  </body>
      <%= render 'shared/footer' %>
</html>

